@import '~antd/dist/antd.css';

.login-form {
    width: 30%;

}

.header {
    background-color: #FFFFFF;
}

.left-side {
    background-color: #fff;
}

.right-side {
    background-color: #fff;
}

.central-content {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

#root {
    height: 100%;
}

.app {
    height: 100%;
}

.chat {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 15px; /* Поля вокруг текста */

}

.message-area {
    background-color: #f2f2f2;
    margin-bottom: 10px;
    overflow-y: scroll;
    flex-direction: row;
    flex-wrap: wrap;
}

.message {
    background-color: #fcfeff;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
}

.author {
    padding-left: 5px;
    padding-top: 15px;
    font-size: 12px;
    background-color: #fcfeff;
}

.text {
    background-color: #fcfeff;
    padding-left: 8px;
}

.date {
    font-size: 12px;
    background-color: #fcfeff;
    text-align: right;
    padding-right: 10px;
}

.users {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}


.user {
    padding: 4px;
    background-color: #fcfeff;
    margin-bottom: 4px;
    margin-top: 4px;
    border-radius: 3px;
}

.user:hover {
    background-color: #26b0ff;
    color: white;
    cursor: pointer;
}
.name {

    text-align: center;
}

.email {

    text-align: center;
}

::-webkit-scrollbar {
    width: 6px;

}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #ccd5e4;
}

.ant-btn-group {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
